body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root main {
  display: flex;
  flex: 1;
}

#root main > section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.code-editor {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.code-editor > .CodeMirror {
  flex: 1;
}